.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.login > a {
  cursor: pointer;
  padding: 20px;
  border-radius: 99px;
  background-color: #1db954;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
}

.login > a:hover {
  background-color: #177c3a;
}
